<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was made for a Node course. It uses data from Mapbox.com and Darksky.net and displays it. </p>
        </div>
        {{>footer}}
    </body>
</html>